@use "reset";
@use "tokens";
@use "typography";
@use "mixins";

body {
  background-color: var(--color-background);
  margin: 0;
}

.botao-link {
  @include mixins.fonte-open-sans;
  color: var(--cor-primaria);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0.75rem 0;

  &:hover {
    color: var(--cor-primaria-escura);
  }
}
