.botao {
  padding: 0.525rem 1.5rem;
  border-radius: 0.125rem;
  border: 0.125rem solid transparent;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: oklch(98% 0.01 250);
  background-color: oklch(45% 0.1 220);
  white-space: nowrap;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.05s ease;

  &:hover:not(:disabled) {
    background-color: oklch(35% 0.1 220);
  }

  &:active:not(:disabled) {
    transform: translateY(0.0625rem);
  }

  &:disabled {
    background-color: oklch(75% 0.02 240);
    cursor: not-allowed;

    &.processando {
      background-color: oklch(45% 0.1 220);
    }
  }

  &.contorno {
    background-color: transparent;
    border: 0.125rem solid oklch(45% 0.1 220);
    color: oklch(45% 0.1 220);

    &:hover:not(:disabled) {
      background-color: oklch(65% 0.1 220);
      border: 0.125rem solid oklch(65% 0.1 220);
      color: oklch(98% 0.01 250);
    }
  }

  .processando {
    color: oklch(1 0 0);
    font-size: 0.18rem;
    width: 1.045em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.18rem;
    text-indent: -9999em;
    animation: girar 1.3s infinite linear;
    transform: translateZ(0);
  }

  @keyframes girar {
    0%,
    100% {
      box-shadow:
        0 -3em 0 0.2em,
        2em -2em 0 0em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
      box-shadow:
        0 -3em 0 0,
        2em -2em 0 0.2em,
        3em 0 0 0,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
      box-shadow:
        0 -3em 0 -0.5em,
        2em -2em 0 0,
        3em 0 0 0.2em,
        2em 2em 0 0,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0em 0 0,
        2em 2em 0 0.2em,
        0 3em 0 0em,
        -2em 2em 0 -1em,
        -3em 0em 0 -1em,
        -2em -2em 0 -1em;
    }
    50% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 0em,
        0 3em 0 0.2em,
        -2em 2em 0 0,
        -3em 0em 0 -1em,
        -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 0,
        -2em 2em 0 0.2em,
        -3em 0 0 0,
        -2em -2em 0 -1em;
    }
    75% {
      box-shadow:
        0em -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0em 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 0,
        -3em 0em 0 0.2em,
        -2em -2em 0 0;
    }
    87.5% {
      box-shadow:
        0em -3em 0 0,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 0,
        -3em 0em 0 0,
        -2em -2em 0 0.2em;
    }
  }
}
