<aside class="sidebar" [class.sidebar--colapsado]="menuColapsado()">
  <div class="sidebar__logo">
    <img src="/images/logo.svg" alt="Logo" />
  </div>

  <button class="sidebar__botao-toggle" (click)="alternarMenu()" aria-label="Alternar menu">
    <ui-icon nome="menu" [tamanho]="30"></ui-icon>
  </button>

  <nav class="sidebar__navegacao">
    @for (item of itensMenu; track item.rota) {
      <a class="sidebar__item" [routerLink]="[item.rota]" routerLinkActive="sidebar__item--ativo">
        <ui-icon [nome]="item.icone" [tamanho]="30"></ui-icon>

        @if (!menuColapsado()) {
          <span class="sidebar__rotulo">
            {{ item.rotulo }}
          </span>
        }
      </a>
    }
  </nav>
</aside>
