.recipiente {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 6.25rem;

  &__cabecalho {
    background-color: oklch(1 0 0);
    padding: 1rem 1.5rem;
    border-bottom: 0.0625rem solid oklch(90% 0.02 250);
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-conteudo {
      flex: 1;
    }

    &__menu-usuario {
      flex: 0;
      margin-top: 0.4rem;
    }
  }

  &__titulo {
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    color: oklch(30% 0.04 250);
  }

  &__breadcrumb {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: oklch(55% 0.02 250);
  }

  &__conteudo {
    flex: 1;
    background-color: oklch(0.9447 0.0085 225.08);
    padding: 1rem 1.5rem 5.75rem;
  }

  &__area {
    max-width: 100%;
  }
}
