<section class="recipiente">
  <header class="recipiente__cabecalho">
    <div class="recipiente__cabecalho-conteudo">
      <h1 class="recipiente__titulo">
        {{ titulo() }}
      </h1>

      @if (breadcrumb()) {
        <span class="recipiente__breadcrumb">
          {{ breadcrumb() }}
        </span>
      }
    </div>

    <div class="recipiente__cabecalho__menu-usuario">
      <menu-usuario [notificacoes]="7" instituicao="Viacredi" avatarUrl="/images/avatar.jpg" />
    </div>
  </header>

  <div class="recipiente__conteudo">
    <div class="recipiente__area">
      <ng-content />
    </div>
  </div>
</section>
