.item {
  display: flex;
  align-items: center;
  gap: var(--espaco);

  &__icone {
    width: var(--espaco-duplo);
    height: var(--espaco-duplo);
    color: var(--cor-texto-mutado);
  }

  &__texto {
    display: flex;
    flex-direction: column;
  }

  &__rotulo {
    font-size: 0.675rem;
    color: var(--cor-texto-mutado);
  }

  &__valor {
    font-size: 0.875rem;
    color: var(--cor-titulo);
    width: 11.25rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.nao-informado {
      font-style: italic;
    }
  }
}
