.consulta-cpf {
  position: relative;
  padding-bottom: 4.5rem;

  &__form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;

    .btn-consultar-por-cpf {
      margin-top: 1.5rem;
      width: 10.625rem;
    }
  }

  &__resultado {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__rodape {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: oklch(1 0 0);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
}
