.consulta-cpf {
  padding-bottom: 4.5rem;

  &__form {
    display: flex;
    flex-direction: row;
    gap: var(--espaco);
    margin-top: var(--espaco);

    .btn-consultar-por-cpf {
      margin-top: 1.5rem;
      width: 10.625rem;
    }
  }

  &__resultado {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--espaco);
    margin-top: var(--espaco);
  }

  &__rodape {
    position: fixed;
    bottom: 0;
    left: 6.25rem;
    right: 0;
    background-color: var(--cor-branco);
    padding: var(--espaco) 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--espaco);
  }
}
