<recipiente
  [titulo]="'Nova Admissão Cooperado'"
  [breadcrumb]="'Cadastro / Admissão do Cooperado / Nova Admissão'"
  class="consulta-cpf"
>
  <passos [listaPassos]="listaPassos" [passoAtual]="passoAtual"></passos>

  <h2>Informe o CPF do futuro cooperado (a)</h2>

  <p>
    Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro
    futuramente.<br />
    Digite apenas os números (sem pontos ou traços).
  </p>

  <form [formGroup]="formulario" class="consulta-cpf__form">
    <campo
      rotulo="CPF"
      mascaraCpf
      placeholder="000.000.000-00"
      formControlName="cpf"
      (input)="atualizarMensagemCpf()"
      [mensagemErro]="mensagemCpf()"
    />

    <botao
      class="btn-consultar-por-cpf"
      texto="Consultar por CPF"
      [desabilitado]="formulario.invalid"
      [processando]="processando()"
      (click)="consultarPorCpf()"
    />
  </form>

  @if (!!cpfService.cooperado()) {
    <section class="consulta-cpf__resultado">
      <quadro
        titulo="Situação cadastral do CPF"
        subtitulo="Consulta na Receita Federal"
        [atraso]="200"
      >
        <item icone="pessoa" rotulo="Nome" [texto]="cpfService.cooperado()!.nome"> </item>

        <item
          [icone]="(cpfService.cooperado()?.status | iconeStatusCpf) ?? undefined"
          rotulo="Situação do CPF"
          [texto]="(cpfService.cooperado()?.status | titlecase) ?? undefined"
          [estado]="cpfService.cooperado()?.status | statusCpf"
        />
      </quadro>

      @for (conta of cpfService.cooperado()!.contas; let i = $index; track conta.numero) {
        <quadro
          [titulo]="conta.tipo | formatoTipoConta"
          subtitulo="Cooperativa Viacredi"
          [atraso]="500 * (i + 1)"
        >
          <item icone="cartao" rotulo="Número da conta" [texto]="conta.numero | formatoConta" />

          <botao estilo="link" texto="Duplicar conta" />
        </quadro>
      }
    </section>
  }

  <footer class="consulta-cpf__rodape">
    @if (cpfService.cooperado()) {
      <botao texto="Iniciar nova admissão" (click)="iniciarNovaAdmissao()" />
    }

    <botao texto="Dicas para admissão" estilo="contorno" />
  </footer>
</recipiente>
